[Desktop Entry]
X-AppImage-Arch=x86_64
X-AppImage-Version=1.4.8
X-AppImage-Name=WebApp Manager
Name=WebApp Manager
Exec=usr/bin/python3
Icon=webapp-manager
Type=Application
Terminal=false
Categories=Utility;
Comment=
